Sorting and filtering Data

In [10]:
import sqlite3

db = sqlite3.connect('DataScience.db')
cursor = db.cursor()

query = "select * from students where age > ? order by grade desc"
age_limit = 9
cursor.execute(query, (age_limit,))
rows = cursor.fetchall()

for i in rows:
    print(i)

(1, 'Bob', 15, 93.0)
(2, 'Sahil', 15, 93.0)
(3, 'Bob', 15, 93.0)
(4, 'Sahil', 15, 93.0)
(5, 'Bob', 15, 93.0)
(6, 'Sahil', 15, 93.0)
(7, 'Bob', 15, 93.0)
(8, 'Sahil', 15, 93.0)
(9, 'Bob', 15, 93.0)
(10, 'Sahil', 15, 93.0)
(12, 'xyz', 13, 88.0)
(11, 'abc', 10, 80.0)

In [12]:
#defining sorting and filtering conditions
sorting_condition = 'age DESC'
filtering_condition = 'grade > 80'

query1 = f'select * from students where {filtering_condition} order by {sorting_condition}'
cursor.execute(query1)

results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Bob', 15, 93.0)
(2, 'Sahil', 15, 93.0)
(3, 'Bob', 15, 93.0)
(4, 'Sahil', 15, 93.0)
(5, 'Bob', 15, 93.0)
(6, 'Sahil', 15, 93.0)
(7, 'Bob', 15, 93.0)
(8, 'Sahil', 15, 93.0)
(9, 'Bob', 15, 93.0)
(10, 'Sahil', 15, 93.0)
(12, 'xyz', 13, 88.0)

In [5]:

import sqlite3
db = sqlite3.connect('DataScience.db')
cursor = db.cursor()

# cursor.execute('''create table if not exists numbers (
#                id integer primary key,
#                num1 integer,
#                num2 integer
# )''')
# cursor.execute("insert into numbers (num1, num2) values (?, ?)", (5, 4))
query2 = 'select * from numbers where num1 >= ? order by num1 asc'
num1_limit = 0
cursor.execute(query2, (num1_limit,))

output = cursor.fetchall()
for a in output:
    print(a)

In [3]:
cursor.execute("select * from numbers")
rows = cursor.fetchall()
print("id | num1 | num2")
for i in rows:
    print(f"{i[0]} | {i[1]} | {i[2]}")

id | num1 | num2