# SQL using PYTHON

In [1]:
import sqlite3

#connect SQLite database (if db is not created, sqlite3 will create)
db = sqlite3.connect('DataScience.db')

#create a cusrsor object to execute SQL Commands
cursor = db.cursor()

#Creating a Table
cursor.execute('''CREATE TABLE IF NOT EXISTS students (
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL,
                age INTEGER,
                grade REAL
                )''')

In [2]:
#Insert data into the table
cursor.execute("INSERT INTO students (name, age, grade) values (?,?,?)", ('Bob', 15, 93))
cursor.execute("INSERT INTO students (name, age, grade) values (?,?,?)", ('Sahil', 15, 93))

In [3]:
cursor.execute("insert into students(name, age, grade) values (?,?,?)", ('abc', 10, 80))
cursor.execute("insert into students (name, age, grade) values (?,?,?)", ('xyz', 13, 88))

In [4]:
#save (commit) the changes
db.commit()

In [5]:
#query the data
cursor.execute("Select * from students")
rows = cursor.fetchall()
print(rows)

[(1, 'Bob', 15, 93.0), (2, 'Sahil', 15, 93.0), (3, 'Bob', 15, 93.0), (4, 'Sahil', 15, 93.0), (5, 'Bob', 15, 93.0), (6, 'Sahil', 15, 93.0), (7, 'Bob', 15, 93.0), (8, 'Sahil', 15, 93.0), (9, 'Bob', 15, 93.0), (10, 'Sahil', 15, 93.0), (11, 'abc', 10, 80.0), (12, 'xyz', 13, 88.0)]

In [6]:
#print the query data
for i in rows:
    print(i)

(1, 'Bob', 15, 93.0)
(2, 'Sahil', 15, 93.0)
(3, 'Bob', 15, 93.0)
(4, 'Sahil', 15, 93.0)
(5, 'Bob', 15, 93.0)
(6, 'Sahil', 15, 93.0)
(7, 'Bob', 15, 93.0)
(8, 'Sahil', 15, 93.0)
(9, 'Bob', 15, 93.0)
(10, 'Sahil', 15, 93.0)
(11, 'abc', 10, 80.0)
(12, 'xyz', 13, 88.0)

In [7]:
#Fetchone
cursor.execute("select * from students")
i1 = cursor.fetchone()
print(i1)

(1, 'Bob', 15, 93.0)

In [8]:
#fetchmany
cursor.execute("select * from students")
i2 = cursor.fetchmany(2)
print(i2)

[(1, 'Bob', 15, 93.0), (2, 'Sahil', 15, 93.0)]

In [11]:
cursor.execute("select * from students")
rows = cursor.fetchall()
print("id | name | age | grade")
for i in rows:
    print(f"{i[0]} | {i[1]} | {i[2]} | {i[3]}")

id | name | age | grade
1 | Bob | 15 | 93.0
2 | Sahil | 15 | 93.0
3 | Bob | 15 | 93.0
4 | Sahil | 15 | 93.0
5 | Bob | 15 | 93.0
6 | Sahil | 15 | 93.0
7 | Bob | 15 | 93.0
8 | Sahil | 15 | 93.0
9 | Bob | 15 | 93.0
10 | Sahil | 15 | 93.0
11 | abc | 10 | 80.0
12 | xyz | 13 | 88.0

In [9]:

## close the cursor and connection
# cursor.close()
# db.close()