Arithmetic Operations

In [1]:
import sqlite3
db = sqlite3.connect('DataScience.db')
cursor = db.cursor()
cursor.execute('''create table if not exists numbers (
               id integer primary key,
               num1 integer,
               num2 integer
)''')

cursor.execute("insert into numbers (num1, num2) values (?, ?)",(10,5))

cursor.execute("select num1 + num2 from numbers")
print("Addition: ", cursor.fetchone()[0]) #[0] accesses the first element (i.e. at index 0)
#Putting it all together, cursor.fetchone()[0] retrieves the value of the first column in the current row fetched by the cursor. 

cursor.execute("select num1 - num2 from numbers")
print('Sibtraction: ', cursor.fetchone()[0])

cursor.execute("select num1 * num2 from numbers")
print('Mulitplication: ', cursor.fetchone()[0])

cursor.execute("select num1/num2 from numbers")
print('Division: ', cursor.fetchone()[0])

Addition:  15
Sibtraction:  5
Mulitplication:  50
Division:  2

Logical Operaions

In [2]:
cursor.execute("insert into numbers (num1, num2) values (?, ?)", (8,9))
cursor.execute("insert into numbers (num1, num2) values (?, ?)", (8, 15))
cursor.execute("insert into numbers (num1, num2) values (?, ?)", (25, 25))

In [3]:
cursor.execute("select * from numbers")
rows = cursor.fetchall()
print("id | num1 | num2")
for i in rows:
    print(f"{i[0]} | {i[1]} | {i[2]}")

id | num1 | num2
1 | 10 | 5
2 | 8 | 9
3 | 8 | 15
4 | 25 | 25

In [4]:
#LOGICAL AND
cursor.execute("select * from numbers where num1 > 5 AND num2<10")
print("Logical AND: ", cursor.fetchall())
#fetchall() is used here to retrieve all rows matching the given condition

Logical AND:  [(1, 10, 5), (2, 8, 9)]

In [5]:
#LOGICAL OR
cursor.execute("select * from numbers where num1<8 or num2>15")
print(cursor.fetchall())

[(4, 25, 25)]

In [6]:
#LOGICAL NOT
cursor.execute("select * from numbers where not (num1>10)")
print(cursor.fetchall())

[(1, 10, 5), (2, 8, 9), (3, 8, 15)]